[submodule "wp-content/plugins/responsive-images"]
	path = wp-content/plugins/responsive-images
	url = https://github.com/ResponsiveImagesCG/wp-tevko-responsive-images.git
[submodule "wp-content/plugins/cachify"]
	path = wp-content/plugins/cachify
	url = https://github.com/wp-plugins/cachify.git
