## ignore folders

core
/custom/languages/
/custom/upgrade/
/custom/uploads/
/custom/plugins/
!/custom/plugins/voodookit/
!/custom/plugins/acf-options/
!/custom/plugins/maintenance/

## ignore Files

.idea
.DS_Store
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*.psd
*.ai
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
