[submodule "core"]
	path = core
	url = https://github.com/WordPress/WordPress.git

[submodule "custom/plugins/responsive-images"]
	path = custom/plugins/responsive-images
	url = https://github.com/ResponsiveImagesCG/wp-tevko-responsive-images.git

[submodule "custom/plugins/cachify"]
	path = custom/plugins/cachify
	url = https://github.com/wp-plugins/cachify.git

[submodule "custom/plugins/bwrk_monsterkill"]
	path = custom/plugins/bwrk_monsterkill
	url = https://git.bergwerk.ag/wordpress-extensions/bwrk_monsterkill.git
[submodule "custom/plugins/advanced-custom-fields-pro"]
	path = custom/plugins/advanced-custom-fields-pro
	url = https://git.bergwerk.ag/wordpress-extensions/advanced-custom-fields-pro
