[submodule "core"]
	path = core
	url = https://github.com/WordPress/WordPress

[submodule "custom/plugins/responsive-images"]
	path = custom/plugins/responsive-images
	url = https://github.com/ResponsiveImagesCG/wp-tevko-responsive-images.git

[submodule "custom/plugins/cachify"]
	path = custom/plugins/cachify
	url = https://github.com/wp-plugins/cachify.git