body {
	width: 100%;
	height: 100%;
}

@mixin mod(
	$gutter: map_get($grid-column-gutter, medium),
	$gutter-bottom: $gutter
) {
	margin: {
		top: ($gutter * 2);
		bottom: ($gutter-bottom * 2);
	}
}

.mod {
	@include mod;
}

footer {
	&.mod {
		@include mod( $gutter-bottom: 0 );
	}
}
