body {
	width: 100%;
	height: 100%;
	padding-bottom: rem-calc(46);
}

@mixin mod(
	$gutter: map_get($grid-column-gutter, medium)
) {
	margin: {
		top: ($gutter * 2);
		bottom: ($gutter * 2);
	}
}

.mod {
	@include mod;
}
