$toggler-border-radius: rem-calc(10) !default;
$toggler-color: #929292 !default;

.toggle-button {
	.bar {
		display: block;
		border-radius: $toggler-border-radius;
		background: $toggler-color;
		margin: rem-calc(4);
		height: rem-calc(5);
	}
}
