.wpcf7-form {
	button,
	.button {
		margin-top: 1em;
	}
}

.wpcf7-form-control-wrap {
	display: block;
	margin-top: 10px;
}

.wpcf7-form-control {
	span.wpcf7-list-item {
		display: block;
		margin: 0 0 0.3em;
	}
}
