/**
 * Styles for default buttons
 * @since 1.0.0
 * @version 1.1.0
 * @author Dominic Vogl <dominic.vogl@cat-ia.de>
 */

@mixin button-arrow-style() {
	position: absolute;
	font-size: 2.5em;
	top: 50%;
	right: 0;
	transform: translate3d(-5px, -50%, 0);
}

.button {
	font-weight: bold;
	text-transform: uppercase;

	&.icon-keyboard_arrow_right-after {
		position: relative;
		padding-right: 37px;

		&:after {
			@include button-arrow-style();
		}
	}
}

[class^="wp-block-button_"] {
	@include button();
	@include icon(keyboard_arrow_right, after);
	position: relative;
	padding: 0.75em 2.5em 0.75em 1.5em;

	&:before,
	&:after {
		@include icon-styles();
		@include button-arrow-style();
	}
}
