// global settings
$global-zindex: 10;
$basic-animation-speed: 250ms;

// brand colors
$brand-primary: #0098a9;
$brand-secondary: #cd4600;

// slider
$slide-title-bg: $brand-primary;
$slide-title-color: #fff;
$slide-arrow-bg: #fff;
$slide-arrow-color: $brand-primary;

// header
$header-background: #555555;

// footer
$footer-background: $header-background;
